@using BookShop.Areas.Admin.Models;
@model Customers
<h1>Customer Area</h1>
<h3> Home Controller</h3>

<<<<<<< HEAD
<a href="Admin/CityState/Index">city</a>
=======
@using (Html.BeginForm("AddCustomer","Customers",FormMethod.Post))
{
    
}
>>>>>>> 844b72d72b66c2089dc613af728fb2415523314a
